{% extends "users/base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<body>
    
    <h3>Hello, {{ user.username|default:'Guest' }}</h3>

    <p> Welcome to the Bytewarden Password Manager.</p>
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'questions:questions' %}">Your Security Questions</a><br><br>
          <a href="{% url 'questions:shared' %}">Shared Security Questions</a><br><br>
          <a href="{% url 'vault:2fa' %}">Your Vault</a><br><br>
          <a href="{% url 'logout' %}">Logout</a><br><br>
      {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>  &nbsp;
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
</body>
{% endblock %}

