{% extends "users/base.html" %}
{% block title %}Passwords{% endblock %}

{% load static %}
{% block content %}

<fieldset>
    <legend>2FA</legend>
    <p>Disable 2FA: <i style="color: grey">This setting is controlled by your administrator</i></p>
    <p>Scan to save your recovery phrase: </p> 
    <img src="{% static '/img/2fa_recover.png' %}" width="100" height="100" /><br><br>

    <a href="{% url 'vault:reset' %}">  
        <button class="btn btn-outline-danger">Reset 2FA Code</button>
    </a>
</fieldset>

{% for p in passwords%}
    <fieldset>
        <legend>
            <strong>{{ p.password_num }}: </strong><strong id="{{ p.password_num }}_title"></strong>
            <script type="text/javascript">decrypt_id("{{ p.title }}", "{{ user.username }}", "{{ p.password_num }}_title")</script>
        </legend><br>

    
        <span>Url: </span><span id="{{ p.password_num }}_url"></span><br><br>
        <script type="text/javascript">decrypt_id("{{ p.url }}", "{{ user.username }}", "{{ p.password_num }}_url")</script>
        
        <span>Password: </span><span id="{{ p.password_num }}_pwd"></span><br><br>
        <script type="text/javascript">decrypt_id("{{ p.password }}", "{{ user.username }}", "{{ p.password_num }}_pwd")</script>
    </fieldset>
{% endfor %}


<!-- Add Password -->
<fieldset>
    <legend>
        <strong>Add Password</strong>
    </legend><br>

    <form action="{% url 'vault:passwords' %}" method="POST" name="edit_form">

        <label for="add_title">Title: </label>
        <input type="text" name="add_title" id="add_title" placeholder="My Bank" required><br><br>        

        <label for="add_url">Url: </label>
        <input type="text" name="add_url" id="add_url" placeholder="https://mybank.com" required><br><br>

        <label for="add_pwd">Password: </label>
        <input type="password" name="add_pwd" id="add_pwd" placeholder="Password" required><br><br>

        <button class="btn btn-md btn-primary col-auto" type="button" onclick="submit_form('edit_form', '{{ user.username }}')">Add</button>
    </form>
</fieldset>

<a href="{% url 'vault:purge' %}">  
    <button class="btn btn-outline-danger" type="submit" >Purges your Vault (Cannot be undone!)</button>
</a>

{% endblock %}